.commandcode

# dependencies
node_modules/

# builds
.next/
out/
dist/
build/
*.tsbuildinfo

# local embedded database
.data/

# env files
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-error.log*
